@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');

body{
background: #DAA588;
font-family: 'Poppins', sans-serif;
}

#start-button {
background-color: #888;
display: inline-block;
border-radius: 8px;
transition-duration: 0.4s;
margin: 10px;
position: relative;
width: 190px;
height: 40px;
color: white;
}

#start-button:hover {
background-color: rgb(4, 218, 4);
color: white;
}

#search {
background-color: #888;
display: inline-block;
border-radius: 8px;
transition-duration: 0.4s;
margin: 10px;
position: relative;
width: 190px;
height: 40px;
color: white;
}

#search:hover {
background-color: rgb(4, 218, 4);
color: white;
}

#roomkey {
border: 5px solid grey;
margin: auto;
padding: 30px;
background-color: white;
height: 20px;
position: relative;
width: 20px;
text-align: start;
}

#question {
display: inline-block;
border-radius: 8px;
margin:10px;
color: white;
}

#answer {
  text-align:center;
  color: white;
}

h1 {
  text-align:center;
  color: white;
}

#roomname {
	text-align:center;
	color: white;
}
