body{
  background: rgb(231, 231, 231)
}

h1{
  margin: 30px;
  text-align: center;
  padding-top: 10px;
  font-size: 50px;
}

button {
  border-radius: 8px;
  transition-duration: 0.4s;
  position: fixed;
  left: 45%;
  margin: auto;
  width: 200px;
  height: 40px;
}

button:hover {
  background-color: rgb(4, 218, 4);
  color: white;
}

#result {
  border: 5px solid grey;
  margin: auto;
  padding: 60px;
  background-color: white;
  width: 1000px;
  height: 300px;
}